<h1>Sitters</h1>
  <%= link_to "Go Back", root_path, class: "btn btn-primary btn-block" %>

<div class="container">
  <div class="row">
    <% @petsitters.each do |petsitter| %>
    <div class="col-md-3 mb-3">
        <div class="card mb-4 shadow-sm h-100">
          <img src="<%= petsitter.user.profile_photo %>" class="card-img-top" alt="<%= petsitter.user.first_name %>">
          <div class="card-body">
            <h5 class="card-title"><%= "#{petsitter.user.first_name} #{petsitter.user.last_name}" %></h5>
            <p class="card-text"><%= petsitter.experience %></p>
            <p class="card-text"><%= petsitter.availability ? "Available" : "Not Available" %></p>
          </div>
          <div class="card-footer">
            <%= link_to "Book now", petsitter_path(petsitter), class: "btn btn-primary btn-block" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<h2>MAP OF WHERE SITTERS ARE LOCATED</h2>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
