
<div class="section-head">
    <h1>Sitters</h1>
    <%= link_to "Go Back", root_path, class: "btn btn-secondary btn-block" %>
</div>

<div class="container">
  <div class="row">
  <% @petsitters.each do |petsitter| %>
    <div class="col-md-4 mb-4 petsitter-card">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <% if petsitter.user.profile_photo == nil %>
                <h1>Profile Picture</h1>
            <% else %>
              <img src="<%= petsitter.user.profile_photo %>" alt="<%= petsitter.user.first_name %>">
            <% end %>
            <h5 class="petsitter-name"><%= "#{petsitter.user.first_name}"%></h5>

            <div class="petsitter-status">
                <% if petsitter.availability == true %>
                  <p class="card-text"><i class="fa-solid fa-calendar-check"></i> Available</p>
                <% else %>
                  <p class="card-text"><i class="fa-solid fa-calendar-xmark"></i> Not Available</p>
                <% end %>
            </div>
          </div>

          <div class="flip-card-back">
            <%= petsitter.user.address %>
            <%= link_to "View & Book", petsitter_path(petsitter), class: "btn btn-primary btn-secondary" %>
          </div>

        </div>
      </div>
    </div>
  <% end %>
</div>




  </div>
</div>

<h2>MAP OF WHERE SITTERS ARE LOCATED</h2>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
