<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="petsitter-show-card">
        <div class="petsitter-show-card-header">
          <h1><%= " #{@petsitter.user.first_name} #{@petsitter.user.last_name}" %></h1>
          <%= image_tag @petsitter.user.profile_photo, class: "avatar-large", alt: @petsitter.user.first_name %>
        </div>
        <p><i class="fas fa-calendar-alt"></i> <strong>Available:</strong>
        <%if @petsitter.availability == true %>
          <p>Yes</p>
        <% else %>
          <p>No</p>
        <% end %></p>
        <p><i class="fas fa-map-marker-alt"></i> <strong>Address:</strong> <%= @petsitter.user.address %></p>
        <p><i class="fas fa-book"></i> <strong>Bio:</strong> <%= @petsitter.experience %></p>
      </div>
      <div class="petsitter-show-card">
        <h3><i class="far fa-comments"></i> User Reviews (<%=@count%>):</h3>
        <div class="reviews">
          <% @reviews.each do |review| %>
            <% next unless review.booking.petsitter.id == @petsitter.id %>
            <div class="review">
              <div class="review-header">
                <h6><b><%= review.booking.user.first_name %> <%= review.booking.user.last_name %></b></h6>
                <div class="star-rating">
                  <% (1..5).each do |i| %>
                    <% if i <= review.rating %>
                      <%= content_tag :span, nil, class: "fa fa-star checked" %>
                    <% else %>
                      <%= content_tag :span, nil, class: "fa fa-star" %>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <h6><%= review.comment %></h6>
            </div>
          </div>
        <%end%>
      </div>
    </div>
    <div class="col-4">
      <div class="petsitter-booking-card">
        <%= render "shared/petsitter_booking_card" %>
      </div>
    </div>
  </div>
</div>
