<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="petsitter-show-card">
        <div class="petsitter-show-card-header">
          <h1><%= " #{@petsitter.user.first_name} #{@petsitter.user.last_name}" %></h1>
          <%= image_tag @petsitter.user.profile_photo, class: "avatar-large", alt: @petsitter.user.first_name %>
        </div>
        <p><strong>Availability:</strong> <%= @petsitter.availability %></p>
        <p><strong>Address:</strong> <%= @petsitter.user.address %></p>
        <p><strong>Bio:</strong> <%= @petsitter.experience %></p>
      </div>

      <div class="petsitter-show-card">
        <h3>User Reviews (<%=@count%>):</h3>
        <h3>Average rating (<%= @average %>)</h3>
        <div class="reviews">
          <% @reviews.each do |review| %>
            <% next unless review.booking.petsitter.id == @petsitter.id %>
            <div class="review">
              <div class="review-header">
                <h6><b><%= review.booking.user.full_name %></b></h6>
                <div class="star-rating">
                  <% (1..5).each do |i| %>
                    <% if i <= review.rating %>
                      <%= content_tag :span, nil, class: "fa fa-star checked" %>
                    <% else %>
                      <%= content_tag :span, nil, class: "fa fa-star" %>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <p>Comment: <%= review.comment %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="petsitter-show-card">
        <h5>Book me:</h5>
        <%= simple_form_for([@petsitter, @booking]) do |f| %>
          <div class="form-group">
            <%= f.input :start_date, input_html: { class: "form-control datetimepicker", data: { format: "YYYY-MM-DD HH:mm", sideBySide: true } }, placeholder: "YYYY-MM-DD HH:MM" %>
          </div>
          <div class="form-group">
            <%= f.input :end_date, input_html: { class: "form-control datetimepicker", data: { format: "YYYY-MM-DD HH:mm", sideBySide: true } }, placeholder: "YYYY-MM-DD HH:MM" %>
          </div>
          <div class="form-group">
            <%= f.input :pet_name, input_html: { class: "form-control" }, placeholder: "Enter your pet's name" %>
          </div>
          <div class="form-group">
            <%= f.label :pet_type, "Pet Type" %>
            <%= f.select :pet_type, ['Dog', 'Cat', 'Fish', 'Parrot', 'Hamster', 'Snake'], { prompt: "Select a pet type" }, { class: "form-control" } %>
          </div>
          <div class="form-group">
            <%= f.label :service, "Service Description" %>
            <%= f.select :service, ['Walk', 'Sitting', 'Checkin'], { prompt: "Select a service" }, { class: "form-control" } %>
          </div>
          <div class="form-group">
            <%= f.label :photo, "Pet Photo" %>
            <%= f.file_field :photo, input_html: {class: "form-control-file"} %>
          </div>
           <%= f.submit "Book", class: "btn btn-secondary mt-2", style: "width: 100%" %>
        <% end %>
     </div>
    </div>
  </div>
</div>
