<h2>My Bookings:</h2>
<% @bookings.each do |booking| %>
  <div class="booking-card">
    <p>Owner Name: <%= current_user.first_name%></p>
    <p>Start: <%= booking.start_date %></p>
    <p>End: <%= booking.end_date %></p>
    <p>Service: <%= booking.service %></p>
    <p>Pet Name: <%= booking.pet_name %></p>
    <p>Pet Type: <%= booking.pet_type %></p>
  </div>
<% end %>
