<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link active" href="#">My Bookings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/my_sittings">My Sittings</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="my_past_bookings">Past Bookings</a>
  </li>
</ul>

<% if @bookings.empty? %>
  <h5>You have no upcoming bookings!</h5>
<% else %>
<div class="bookings">
  <% @bookings.each do |booking| %>
  <% if Date.today < booking.end_date %>
      <div class="d-flex flex-row border rounded mb-3 align-items-center shadow">
        <div class="align-self-start mr-3">
          <% if booking.photo.attached? %>
            <% cl_image_tag booking.photo.key, class: "img-fluid rounded-circle", height: 150, width: 150, crop: :fill %>
          <% else %>
            <%= booking.pet_name %>
          <% end %>
        </div>

        <div class="flex-grow-1">
          <div class="row align-items-center">
            <div class="col-md-6">
              <p><strong>Dates:</strong> <%= booking.start_date.strftime('%B %d, %Y') %> - <%= booking.end_date.strftime('%B %d, %Y') %></p>
              <p><strong>Petsitter's Name:</strong> <%= "#{booking.petsitter.user.first_name} #{booking.petsitter.user.last_name}" %></p>
              <p><strong>Petsitter's Number:</strong> <%= booking.petsitter.user.phone %></p>
            </div>

            <div class="col-md-6">
              <p><strong>Pet Name:</strong> <%= booking.pet_name %></p>
              <p><strong>Pet Type:</strong> <%= booking.pet_type %></p>
              <p><strong>Service:</strong> <%= booking.service %></p>
              <p><strong>Price:</strong> R200</p>
            </div>
          </div>
        </div>

          <div class="row align-items-center mt-3">
            <div class="col-md-8">
              <div class="col-md-4 text-right">
              </div>
              <div class="review-button">
                <%= link_to "Cancel Booking", my_bookings_path, class:"btn btn-secondary" %>
              </div>
            </div>
          </div>
      </div>
      <% end %>
  <% end %>
    <% end %>
</div>
