<div class="contents">

<div class="section-head">
    <h2>Next Booking:</h2>
    <%= link_to "My Bookings", my_bookings_path, class:"btn btn-secondary" %>
</div>

  <div class="bookings-container">
    <% bookings = Booking.all %>
    <% booking_array = []  %>
    <% bookings.each do |book| %>
      <% if book.user.id == current_user.id %>
          <% booking_array << book %>
        <% end %>
    <% end %>
    <% if booking_array.empty? %>
      <div class="empty-card">
        <h3>You currently have no bookings.</h3>
      </div>
      <% else %>
      <% booking_array.each do |booking| %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%=booking.petsitter.user.first_name%> <%=booking.petsitter.user.last_name%></h5>
          <h6 class="card-subtitle mb-2 text-muted">Duration: <%=booking.end_date - booking.start_date%> </h6>

          <p class="card-text"><%=booking.service%></p>
          <p class="card-text"><%=booking.pet_name%></p>
          <p class="card-text"><%=booking.pet_type%></p>
          <%= link_to "View Booking", my_bookings_path, class:"btn btn-secondary" %>
          </div>
        </div>
        <% end %>
      <% end %>
  </div>
  <br>

<div class="section-head">
  <h2>Local Sitters</h2>
  <%= link_to "View Sitters", petsitters_path, class:"btn btn-secondary" %>
</div>

 <div class="row">
  <% petsitters = Petsitter.all %>

    <% petsitters[0..3].each do |petsitter| %>
    <div class="col-md-3 mb-3">
        <div class="card mb-4 shadow-sm h-100">
          <img src="<%= petsitter.user.profile_photo %>" class="card-img-top" alt="<%= petsitter.user.first_name %>">
          <div class="card-body">
            <h5 class="card-title"><%= "#{petsitter.user.first_name} #{petsitter.user.last_name}" %></h5>

            <p class="card-text"><%= petsitter.experience %></p>
            <p class="card-text"><% if petsitter.availability %>
  <p class="card-text"><i class="fa-solid fa-calendar-check"></i> Available</p>
<% else %>
  <p class="card-text"><i class="fa-solid fa-calendar-xmark"></i> Not Available</p>
<% end %></p>

          </div>
          <div class="card-footer">
            <%= link_to "Show more", petsitter_path(petsitter), class: "btn btn-secondary btn-block" %>
          </div>
        </div>
      </div>
    <% end %>
</div>
